
html{
    overflow-x: hidden;
}
body{
    margin: 0;
    padding: 0;
    font-family:  Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    color: #171717;
}
#fashioninfo,#outerwearinfo,#loadimg{
    display: none;
}
#label,#check,#allbrandsdd{
    display: none;
}
#navbar2{
    height: 150px;
    width: 100%;
    background-color: white;
}
#navbar2 ul li a:hover{
    color: #f6891a;
}
.navdiv1{
    height: 40px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navdiv1 ul li{
    display: inline;
    padding: 20px;
    list-style-type: none;
}
.navdiv1 ul li a{
    text-decoration: none;
    color: #919191;
}
.navdiv2 ul li input{
    height: 42px;
}
.navdiv2{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
}
.navdiv2 ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.navdiv2 ul li{
    display: inline;
    padding: 10px;
    list-style-type: none;
}
.navdiv2 ul li a{
    text-decoration: none;
    color: #393939;
}
.navdiv2 ul li input{
    height: 36px;
    width: 600px;
    border-radius: 5px;
    font-size: large;
    font-weight: 400;
    border: solid 1px #919191;
}
.navdiv2 ul li button{
    height: 42px;
    width: 120px;
    border-radius: 5px;
    font-size: large;
    background-color: #f6891a;
    font-weight: 400;
    color: white;
    border: none;
}
.navlist3{
    height: 40px;
    width: 100%;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navlist3 ul li{
    display: inline;
    padding: 30px;
}
.navlist3 ul li a{
    text-decoration: none;
    color: #171717;
}
.categories{
    height: 42px;
    width: 260px;
    background-color: #f6891a;
    border: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}
#allbrandsdd ul{
    background-color: #ffffff;
    margin-top: 1px;
    height: 240px;
    width: 10%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 10;
    position: absolute;
    margin-left: 50%;
    gap: 5%;
    padding: 20px;
    border-radius:  5px;
}
#allbrandsdd ul li{
    list-style-type: none;
}
#allbrandsdd ul li a{
    text-decoration: none;
    color: #7d7d7d;
}
#allbrandsdd ul li a:hover{
    color: #f6891a;
}
#afternavbar div ul li{
    list-style-type: none;
}
#afternavbar div ul li a{
    text-decoration: none;
    color: #474747;
}
#afternavbar{
    height: 520px;
    width: 100%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.afternavchild1{
    height: 510px;
    width: 260px;
    margin-left: 2.5%;
    background-color: white;
    border-radius: 5px;
}
.afternavchild1 ul li{
    width: 200px;
    font-size: large;
    margin: 16px;
}
.afternavchild2{
    border-radius: 10px;
    margin-top: -1%;
    height: 510px;
    width: 100%;
    overflow: hidden;
    margin-right: 7%;
}
.infomain{
    display: flex;
    justify-content: center;
    align-items: center;
}
#info{
    border-radius: 8px;
    height: 128px;
    width: 1400px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
}
#info div{
    height: 60px;
    width: 25%;
    text-align: center;
    border-left: solid 1px #393939;
}
#latestproductsheading{
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
}
.latestproductsheadingchild1{
    margin-left: 1%;
}
.latestproductsheadingchild2{
    margin-right: 1%;
}
#afternavbar ul li a:hover{
    color: #f6891a;
}
#fashionarrow{
    margin-left: 50%;
}
#outerweararrow{
    margin-left: 40%;
}
#morearrow{
    margin-left: 10%;
}
#fashioninfo{
    height: 306px;
    width: 570px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    /* z-index: 9; */
    margin-top: -547px;
    margin-left: 21%;
    border-radius: 5px;
}   
#fashioninfo table{
    width: 570px;
    text-align: center;
}
#fashioninfo table td{
    height: 31px;
    width: 160px;
}
#fashioninfo table th{
    height: 26px;
    width: 160px;
}
#fashioninfo table th a{
    text-decoration: none;
    color:  #171717;
}
#fashioninfo table td a{
    text-decoration: none;
    color:  #171717;
}
#fashioninfo table a:hover{
    color: #f6891a;
}
#outerwearinfo{
    position: absolute;
    margin-top: -428px;
    margin-left: 21%;
    height: 154px;
    width: 190px;
    background-color: white;
    border-radius: 5px;
}
#outerwearinfo ul li{
    height: 31px;
    margin-left: -12%;
    list-style-type: none;
}
#outerwearinfo ul li a{
    text-decoration: none;
    color:  #171717;
}
#outerwearinfo ul li a:hover{
    color: #f6891a;
}
#onimagebutton{
    position: absolute;
    height: 200px;
    width: 1050px;
    margin-top: -314px;
    margin-left: 25%;
    display: flex;
    justify-content: space-between;
}
#onimagebutton div{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    height: 40px;
    width: 40px;
    border: solid 2px #f6891a;
}
#onimagebutton button{
    height: 30px;
    width: 30px;
    border-radius: 5px;
    background-color: #f6891a;
    color: white;
    border: none;
}
#onimagebutton2{
    position: absolute;
    margin-top: -460px;
    margin-left: 28%;
    font-size: 28px;
}
#onimagebutton2 button{
    height: 42px;
    width: 130px;
    background-color: #f6891a;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}
#offers{
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 4%;
    height: 252px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}
#offers div{
    height: 252px;
    width: 444px;
    overflow: hidden;
}
.offersch{
    border-radius: 8px;
    height: 252px;
    width: 444px;
    overflow: hidden;
    font-size: 22px;
    color: white;
}
.offersch p{
    margin-left: 2%;
    margin-top: -190px;
    position: absolute;
}
.offersch b{
    margin-left: 2%;
    margin-top: -130px;
    position: absolute;
}
.offersch button{
    color: white;
    cursor: pointer;
    margin-left: 1%;
    height: 40px;
    width: 123px;
    position: absolute;
    margin-top: -90px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    font-size: 16px;
}
.offersch:hover img{
    transition: all 2s;
    transform: scale(1.1);
}
#lpcards{
    border-radius: 8px;
    height: 440px;
    width: 1400px;
    margin-left: 4%;
    overflow: hidden;
    display: flex;
    background-color: white;
    margin-top: 1px;
}
#showcards1,#showcards2,#showcards3{
    margin-left: 1%;
    height: 227px;
    width: 252px;
    padding: 6px;
}
#showcards1 p a,#showcards2 p a,#showcards3 p a{
    text-decoration: none;
    color:#888888;
}
#showcards1 h4 a,#showcards2 h4 a,#showcards3 h4 a{
    text-decoration: none;
    color:#565656;
}

#showcards1:hover img,#showcards2:hover img,#showcards3:hover img,
#showcards4:hover img{
    transform: scale(1.1);
    transition: all 0.2s;
}
#featuredproductsheading{
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
}
.featuredproductsheadingchild1{
    margin-left: 1%;
}
.featuredproductsheadingchild2{
    margin-right: 1%;
}
#fpcards{
    height: 440px;
    width: 1400px;
    margin-left: 4%;
    overflow: hidden;
    display: flex;
    background-color: white;
    margin-top: 1px;
    border-radius: 8px;
}
#shopbycatheading{
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
}
.shopbycatheadingchild1{
    margin-left: 1%;
}
.shopbycatheadingchild2{
    margin-right: 1%;
}
#shopcards{
    border-radius: 8px;
    height: 340px;
    width: 1400px;
    margin-left: 4%;
    overflow: hidden;
    display: flex;
    background-color: white;
    margin-top: 1px;
}
#shopbycatcards img{
    border-radius: 8px;
    opacity: 0.8;
}
#shopcards div{
    padding: 15px;
    height: 300px;
    width: 400px;
}
#shopbycatcards:hover img{
    opacity: 1.1;
    transition: all 0.1s;
    transform: rotatex(360deg);
}
#shopbycatcards{
    height: 300px;
    width: 300px;
    text-align: center;
    font-size: large;
}
#novadress{
    margin-top: 2%;
    margin-left: 4%;
    width: 1400px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#novadress div{
    overflow: hidden;
    height: 280px;
    width: 685px;
    border-radius: 8px;
    font-size: 22px;
}
.wrapdress p,.nova p{
    margin-left: 4%;
    margin-top: -240px;
    z-index: 5;
    position: absolute;
}
.wrapdress h2,.nova h2{
    margin-top: -200px;
    margin-left: 4%;
    position: absolute;
    z-index: 5;
}
.wrapdress button,.nova button{
    position: absolute;
    z-index: 5;
    margin-left: -41%;
    margin-top: 180px;
    height: 40px;
    width: 130px;
    background-color: #f6891a;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 400;
}
#wrapdress img{
    z-index: 4;
    position: absolute;
}
.nova{
    color: white;
}
.novachild:hover img{
    transition: all 1s;
    transform: scale(1.1);
}
.wrapdress:hover img{
    transition: all 1s;
    transform: scale(1.1);
}
#dealoftheday{
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
    border-radius: 8px;
}
.dealofthedaychild1{
    margin-left: 1%;
}
.dealofthedaychild2{
    margin-right: 1%;
}
#dotdcards{
    height: 440px;
    width: 1400px;
    margin-left: 4%;
    overflow: hidden;
    display: flex;
    background-color: white;
    margin-top: 1px;
    border-radius: 8px;
}
#dotdcards del{
    color: #565656;
}
#freeshipping{
    height: 90px;
    width: 1400px;
    margin-top: 2%;
    margin-left: 4%;
    border-radius: 5px;
    background-color: #f6891a;
    font-size: 20px;
    color: white;
}
#freeshipping ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
#freeshipping ul li{
    list-style-type: none;
}
#showcards1 a:hover,#showcards2 a:hover, #showcards3 a:hover,
#showcards4 a:hover{
    color: #f6891a;
}
#showcards4 a{
    color: #565656;
    text-decoration: none;
}
#showcards4{
    height: 200px;
    width: 500px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
}
.sofaset{
    font-size: 26px;
    height: 352px;
    width: 1400px;
    margin-left: 4%;
    margin-top: 2%;
    border-radius: 8px;
    color: white;
    overflow: hidden;
}
.sofaset h1{
    margin-left: 4%;
    position: absolute;
    margin-top: -240px;
}
.sofaset p{
    position: absolute;
    margin-left: 4%;
    margin-top: -300px;
}
.sofaset button{
    margin-top: 240px;
    margin-left: -88%;
    position: absolute;
    height: 42px;
    width: 130px;
    border: none;
    background-color: #f6891a;
    color: white;
    font-size: 16px;
    border-radius: 8px;
}
.sofasetchild img{
    z-index: 4;
}
.sofasetchild:hover img{
    transition: all 2s;
    transform: scale(1.1);
}
#review{
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
    border-radius: 8px;
}
.reviewchild1{
    margin-left: 1%;
}
.reviewchild2{
    margin-right: 1%;
}
#img1{
    margin-left: 34px;
}
#img4{
    margin-right: 32px;
}
#reviewcards{
    height: 320px;
    width: 1400px;
    margin-left: 4%;
    gap: 34px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    background-color: white;
    margin-top: 1px;
    border-radius: 8px;
}
#reviewcards img{
    border-radius: 8px;
}
#blog{
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
    border-radius: 8px;
}
.blogchild1{
    margin-left: 1%;
}
.blogchild2{
    margin-right: 1%;
}
#blogcard img{
    height: 211px;
    width: 311px;
    opacity: 0.8;
    border-radius: 8px;
}
#blogcard b{
    text-decoration: underline;
    cursor: pointer;
}
.blogdate{
    color: #f6891a;
}
#blogcard{
    border-radius: 8px;
    overflow: hidden;
    background-color: white;
    margin-left: 4%;
    height: 454px;
    width: 1400px;
    display: flex;
    gap: 32px;
}
#bgchild1{
    margin-left: 32px;
}
#blogcard div{
    height: 211px;
    width: 311px;
    border-radius: 8px;
}
#blogcard div:hover img{
    opacity: 1.1;
    transition: all 0.1s;
    transform: rotatey(360deg);
}
#brand{
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
    border-radius: 8px;
}
.brandchild1{
    margin-left: 1%;
}
.brandchild2{
    margin-right: 1%;
}
#brandcards{
    overflow: hidden;
    margin-left: 4%;
    background-color: white;
    height: 180px;
    width: 1400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#brandcards div{
    height: 180px;
    width: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#brandcards div:hover img{
    transform: scale(1.5);
    transition: all 0.5s;
}
#instagram{
    margin-left: 4%;
    margin-top: 2%;
    height: 225px;
    width: 1400px;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow: hidden;
}
#instagram img{
    height: 225px;
    width: 225px;
    border-radius: 8px;
}
#instaarrow{
    height: 150px;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    margin-left: 4.1%;
    margin-top: -9%;
}
#instaarrow i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: solid 1px whitesmoke;
    background-color: #c7c6cc;
    border-radius: 50px;
}
#colorrr{
    height: 100px;
    width: 100%;
    background-color: #f6891a;
}
#footer{
    color: #131313;
    padding: 2%;
    height: 302px;
    width: 100%;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.footchild1{
    width: 20%;
    border-right: solid 1px #565656;
}
.footchild2{
    width: 60%;
    display: flex;
    gap: 20%;
}
#footer p a,#footer ul li a{
    text-decoration: none;
    color: #656565;
}
#footer ul li {
    list-style-type: none;
}   
.footchild2 div ul li{
    height: 33px;
    margin-left: -36px;
}
#footer ul li a:hover,#footer p a:hover{
    color: #f6891a;
}
#lastdiv{
    border-top: solid 1px #565656;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20%;
}
#lastdiv a{
    text-decoration: none;
    color: #656565;
}
#lastdiv a:hover{
    color: #f6891a;
}
#loginpage{
    margin-top: 2%;
    height: 400px;
    width: 1400px;
    margin-left: 4%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
#loginpage a{
    text-decoration: none;
    color: #565656;
    cursor: pointer;
}
#loginpage h1{
    font-size: 26px;
    margin-left: 2%;
}
#loginpage div input{
    height: 40px;
    width: 600px;
}
.logindiv{
    padding: 20px;
    text-align: center;
}
#loginpage div input[type="text"]{
    margin-left: 2.2%;
} 
#loginpage input[type="text"],#loginpage input[type="password"]{
    font-size: large;
    border: solid 1px #565656;
    border-radius: 8px;
}
.logindiv button{
    height: 42px;
    width: 130px;
    background-color: #f6891a;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
}
#noaccount{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    text-align: center;
    height: 42px;
    width: 1200px;
    border-top: solid 1px #565656;
}
#loginpage a:hover{
    color: #f6891a;
}
#signinpage{
    margin-top: 2%;
    height: 560px;
    width: 1400px;
    margin-left: 4%;
    background-color: white;
    border-radius: 8px;
    padding: 10px;
}
#signinpage a{
    text-decoration: none;
    color: #565656;
    cursor: pointer;
}
#signinpage h1{
    font-size: 26px;
    margin-left: 2%;
}
#signinpage div input{
    height: 40px;
    width: 600px;
}
.signindiv{
    padding: 20px;
    text-align: center;
}
#signinpage div input{
    margin-left: 2.2%;
} 
#signinpage input[type="text"],#signinpage input[type="password"]{
    font-size: large;
    border: solid 1px #565656;
    border-radius: 8px;
}
.signindiv button{
    height: 42px;
    width: 130px;
    background-color: #f6891a;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: large;
}
#noaccount1{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6%;
    text-align: center;
    height: 42px;
    width: 1200px;
    border-top: solid 1px #565656;
}
#signinpage a:hover{
    color: #f6891a;
}
aside ul li img{
    border-radius: 50%;   
}
aside ul li{
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    list-style: none;
    padding: 32px 70px 32px 20px;
    color: white;
}
aside ul li img{
    border: solid 1px #f6891a;
}
aside{
    background-color: #393939;
    color: white;
    float: left;
    padding: 20px;
}
#ad{
    font-size: 44px;
    width: 100%;
    padding: 20px;
    font-weight: 700;
    background-color: #393939;
    color: white;
}
#analytics img{
    height: auto;
    width: 1210px; 
}
#admindatatable{
    height: auto;
    width: auto;
    border-top: solid 1px #393939;
    margin-top: 1%;
    text-align: center;
}
#admindatatable tr td{
    height: 40px;
    width: 260px;
    background-color: white;
    border-right: solid 1px #393939;
    border-bottom: solid 1px #393939;
    overflow: auto;
    font-size: larger;
    border-radius: 8px;
}
#searchbox{
    height: 80px;
    justify-content: start;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
    border-radius: 8px;
}
#all{
    border-radius: 8px;
    margin-top: 1%;
    margin-left: 584px;
    height: 42px;
    width: 644px;
    border: solid 1px #171717;
    font-weight: 600;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: large;
}
#all button{
    height: 30px;
    width: 50px;
    font-size: large;
    background-color: transparent;
    border: none;
}
#button{
    height: 42px;
    width: 160px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#button button{
    height: 30px;
    width: 60px;
    font-size: large;
}
#searchbox select{
    height: 36px;
    width: 180px;
    font-size: large;
    background-color: transparent;
    border-radius: 8px;
}
#searchbox input{
    height: 30px;
    width:  320px;
    font-size: large;
    background-color: transparent;
    border: solid 1px;
    border-radius: 8px;
}
#searchbox button{
    height: 36px;
    width:  90px;
    font-size: large;
    color: black;
    border: solid 1px #393939;
    border-radius: 8px;
}
#newarrivalheadding{
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
}
.newarrivalheaddingchild{
    margin-left: 1%;
}
#newarrive{
    border-radius: 8px;
    height: auto;
    width: 1400px;
    margin-left: 4%;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    text-align: center;
    background-color: white;
    margin-top: 1px;
}
#narrival{
    height: 400px;
    width: 300px;
    overflow: hidden;
}
#narrival a{
    text-decoration: none;
    color: #565656;
}
#narrival a:hover{
    color: #f6891a;
}
#narrival:hover img{
    transform: rotate(360deg);
    transition: all 0.6s;
}
#allbrandsheadding{
    border-radius: 8px;
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
}
.allbrandsheaddingchild{
    margin-left: 1%;
}
#allbrands{
    border-radius: 8px;
    height: auto;
    width: 1400px;
    margin-left: 4%;
    overflow: hidden;
    margin-top: 1px;
}
#allbrands div{
    border-radius: 8px;
    height: 100px;
    background-color: white;
}

#allbrands div ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#allbrands div button{
    height: 42px;
    width: 130px;
    border-radius: 8px;
    background-color: #f6891a;
    color: white;
    border: none;
    margin-left: -10%;

}
#allbrands div ul li{
    list-style-type: none;
}
#bloggy{
    margin-top: 2%;
    margin-left: 4%;
    height: 10%;
    width: 1400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 5px #f7f7f7;
    border-radius: 8px;
}
.bloggychild1{
    margin-left: 1%;
}
#blogss div:hover img{
    transform: rotatey(360deg);
    transition: all 0.25s;
}
#blogss img{
    height: 211px;
    width: 311px;
    opacity: 0.8;
    border-radius: 8px;
}
#blogss b{
    text-decoration: underline;
    cursor: pointer;
}
.blogss{
    color: #f6891a;
}
#blogss{
    border-radius: 8px;
    overflow: hidden;
    margin-left: 4%;
    height: auto;
    width: 1400px;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    gap: 32px;
    text-align: center;
}
#blogsschild1{
    margin-left: 32px;
}
#blogss div{
    overflow: hidden;
    height: auto;
    width: 100%;
    border-radius: 8px;
}
#blogcard div:hover img{
    opacity: 1.1;
    transition: all 0.1s;
    transform: rotatey(360deg);
}
#label1{
    display: none;
}
#navbar1{
    width: 100%;
    display: none;
}
#navbar1 ul{
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}
#navbar1divv li{
    padding: 18px;
}
#navbar1 ul li{
    margin-left: -20px;
    list-style-type: none;
}
#navbar1 ul li a:hover{
    color: #f6891a;
}
#navbar1 ul li a{
    color: #565656;
    text-decoration: none;
}
#loadimg1{
    margin-top: -10%;
    height: auto;
    width: 100%;
    background-color: white;
}
#allusers::after{
    content: "++";
}
#check1:checked~ #navbar1divv{
    display: block;
}
@media(max-width: 800px){
    #label1{
    display: block;
    }
    #navbar2{
        display: none;
    }
    #navbar1{
        display: flex;
    }
    #afternavchild{
        margin-left: 0%;
    }
    .afternavchild1{
        display: none;
    }
    #afternavchild2{
        margin: 0%;
    }
    #afternavchild2 li img{
        height: auto;
        width: 100%;
    }
    #onimagebutton2{
        margin-top: -65%;
        margin-left: 14%;
        font-size: large;
        width: 100%;
    }
    #onimagebutton{
        width: 100%;
        margin-top: -20%;
        margin-left: -20%;
        display: flex;
        justify-content: center;
        gap: 10%;
    }
    .infomain,#info{
        font-size: smaller;
        width: 90%;
    }    
    #latestproductsheading{
        width: 90%;
    }
    

}